@import "./base.scss";
@import "./colorLabel.scss";

#modal {
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba($color: #000000, $alpha: .15);

    .modal-container {
        position: relative;
        min-width: 600px;
        max-width: 650px;
        min-height: 450px;
        padding: 32px 40px 36px 32px;
        background-color: #fff;
        border-radius: 10px;
    }
}

.modal-body {
    margin-top: 16px;

    .label-text {
        font-size: 1.6rem;
        color: #666;
    }
    .label-input {
        padding: 10px 8px;
        width: 100%;
        font-size: 1.6rem;
        color: #666;
        font-weight: 400;
        margin: 12px 0;
        border: 1px solid #999;
        border-radius: 2px;

        &:focus {
            border-color: #999;
        }
    }
}

.color-choose-wrapper {
    // display: flex;
    // width: 80%;
    // margin: 0 auto;
    // flex-wrap: wrap;
}

.color-container {
    display: flex;
    width: 95%;
    margin: 8px 0;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: end;
}

.color-choose {
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 16px;
    margin-bottom: 12px;

    &.color-active {
        .color-choose-icon {
            display: block;
        }
    }

    .color-choose-icon {
        display: none;
        position: absolute;
        color: #fff;
        font-size: 3.4rem;
        user-select: none;
    }
}

.delete-color {
    font-size: 1.6rem;
    color: #666;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: #e8e7e7;
    }
}

.modal-title {
    display: flex;
    justify-content: space-between;

    h3 {
        font-size: 28px;
        font-weight: 400;
        color: #666;
        user-select: none;
    }

    .modal-close-btn {
        padding: 4px;
        border-radius: 50%;

        span {
            font-size: 2.8rem;
            user-select: none;
        }

        &:hover {
            cursor: pointer;
            background-color: #e8e7e7;
        }
    }
}

.modal__search {
    position: relative;

    .modal__icon-wrapper {
        position: absolute;
        height: 100%;
        width: 60px;
    }
}
.modal__icon {

}
.modal__search-input {
    font-size: 1.6rem;
    padding: 12px 16px 12px 60px;
    border-radius: 10px;
    background-color: #e8eaed;
}

.modal-footer {
    position: absolute;
    display: flex;
    bottom: 36px;
    right: 32px;
}

.btn-white {
    display: flex;
    width: 75px;
    color: #666;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    margin-right: 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
    transition: all 0.2s ease-out;

    &:hover {
        cursor: pointer;
        background-color: #e8e7e7;
        box-shadow: none;
    }
}
.btn-primary {
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    background-color: $primary_color;
    align-items: center;
    padding: 12px 18px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
    transition: all 0.2s ease-out;

    &:hover {
        cursor: pointer;
        opacity: .9;
        box-shadow: none;
    }
}

$i: 0;
@each $color in $colors {
    $i: $i+1;

    .color-#{$i} {
      background-color: $color;
    }
  }